<label>Server Name</label>
<!-- <input
type = "text"
class="form-control"
(input) = "onInput($event)">
<p>{{inputName}}</p> -->
<input
type = "text"
class="form-control"
[(ngModel)]= "inputName">
<!-- <p>{{inputName}}</p> -->
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)= "onAddServer()">Add Server</button>
<p *ngIf="serverCreated">Server created with name {{inputName}}</p>
<!-- <p>{{serverCreationStatus}}</p> -->
<app-server *ngFor="let server of servers"></app-server>
